<section class="task-organizer">
    <div class="container">
        <div class="tool-headline">
            <h2>What Do You Get with Our Tool?</h2>
            <p>Make sure all your tasks are organized so you can set the priorities and focus<br> on important.</p>
        </div>
        <div class="task-boxes">
            <div class="box-task task-1">
                <img src="images/logos/task-1.svg" alt="">
                <h6>Comments on Tasks</h6>
                <p>Id mollis consectetur congue egestas egestas<br> suspendisse blandit justo.</p>
            </div>
            <div class="box-task task-2">
                <img src="images/logos/task-2.svg" alt="">
                <h6>Tasks Analytics</h6>
                <p>Non imperdiet facilisis nulla tellus Morbi<br> scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="box-task task-3">
                <img src="images/logos/task-3.svg" alt="">
                <h6>Multiple Assignees</h6>
                <p>A elementum, imperdiet enim, pretium etiam<br> facilisi in aenean quam mauris.</p>
            </div>
            <div class="box-task task-4">
                <img src="images/logos/task-4.svg" alt="">
                <h6>Notifications</h6>
                <p>Diam, suspendisse velit cras ac. Lobortis diam<br> volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="box-task task-5">
                <img src="images/logos/task-5.svg" alt="">
                <h6>Sections & Subtasks</h6>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh<br> lorem ridiculus lectus.</p>
            </div>
            <div class="box-task task-6">
                <img src="images/logos/task-6.svg" alt="">
                <h6>Data Security</h6>
                <p>Aliquam malesuada neque eget elit nulla<br> vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</section>