.courses {

    .container {


        .title-form-div {
            display: flex;
            align-items: center;
            margin-left: 170px;
            margin-top: 100px;
            margin-bottom: 30px;
        }


        h1 {
            color: #0B0F19;
            font-size: 40px;
            font-weight: 900;
            margin-left: 380px;
        }

        .categories-to-right {
            margin-left: 501px;
        }

        form#form-filters {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            select {
                margin-right: 20px;
                padding: 10px 80px 10px 20px;
                border-color: #D4D7E5;
                border-radius: 6px;
                color: #565973;
            }

            .input-search-group {
                position: relative;




                input#searchQuery {
                    border-color: #E2E5F1;
                    border-radius: 6px;
                    padding: 10px 60px 10px 20px;
                }

                i.fa-regular.fa-search {
                    position: absolute;
                    right: 20px;
                    top: 15px;
                }
            }
        }

        .course-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;
            gap: 20px;
            width: calc(60% - 60px);
            height: calc(60% - 60px);
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;

            @media (max-width: 2000px) {
                width: calc(70% - 60px);
                height: calc(70% - 60px);
            }


            .course {
                position: relative;


                .bestseller {
                    position: absolute;
                    background-color: #22C55E;
                    padding: 2px 5px;
                    border-radius: 4px;
                    color: white;
                    left: 25px;
                    top: 10px;
                }

                .btn.btn-circle.bookmark {
                    position: absolute;
                    left: 300px;
                    top: 19px;
                    background: white;
                    border-radius: 50%;
                    padding: 9px 14px 7px;
                    color: #33354D;
                    cursor: pointer;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    max-height: 200px;
                    width: 400px;
                    object-fit: cover;
                }

                .content {
                    margin-top: -10px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border: 1px solid #ccc;
                    border-top: none;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                    width: 400px;



                    .title {
                        color: black;
                        font-weight: 700;
                        padding-top: 20px;
                        font-size: 19px;
                    }

                    .author {
                        color: #565973;
                        font-size: 14px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    .pricing {
                        color: #6366F1;
                        font-weight: 700;
                        font-size: 16px;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        align-items: center;

                        .discount {
                        }

                        .price {
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }

                    .footer {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .hours {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            color: #9397AD;
                        }

                        .likes {
                            color: #9397AD;
                        }
                    }
                }
            }
        }
    }

    .work-with-us {


        .container {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            background-color: #F3F6FF;
            gap: 5rem;
            align-items: center;
            height: 50vh;

            .left-side {
                flex-direction: column;
                text-align: left;


                h5 {
                    color: #565973;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                h1 {
                    margin-left: -1px;
                }

                button {
                    margin-top: 30px;
                    background-color: #6366F1;
                    border-radius: 8px;
                    padding: 14px 28px;
                    border: none;
                    color: #FFFFFF;

                    &:hover {
                        background-color: black;
                        cursor: pointer;
                    }
                }
            }

            .right-side {

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}
