@inherits LayoutComponentBase
@layout Silicon_BlazorApp.Components.Layout.MainLayout
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

@if (user == null)
{
    <p>Loading...</p>
}
else
{
    @Body
}

@code {
    private ApplicationUser? user;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Se till att hämta användaren asynkront och att använda 'await' korrekt
        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user != null)
        {
            username = await UserManager.GetUserNameAsync(user);
            phoneNumber = await UserManager.GetPhoneNumberAsync(user);
            // Här kan du också använda 'DbContext' för att hämta andra data relaterade till användaren
        }
    }
}









